<!DOCTYPE html>
	<body>
		<h3>You searched for <%= thisUrl %></h3>
		<a href="/search">Click to return to Search page</a>
		<br>
		<img src="<%= thisUrl %>" alt="This will display an animated GIF" />
	</body>
</html>